<a href="https://colab.research.google.com/github/SamuelSousaFerreira/pyspark/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#install depencences
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # java instalattion
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz # file's download
!tar xf spark-3.1.2-bin-hadoop2.7.tgz #file descompression
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()

# **Upload Data**
## [SparkSession](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.html)

O ponto de entrada para programar o Spark com a API Dataset e DataFrame.

Uma SparkSession pode ser utilizada para criar DataFrames, registrar DataFrames como tabelas, executar consultas SQL em tabelas, armazenar em cache e ler arquivos parquet. Para criar uma SparkSession, use o seguinte padrão de construtor:

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = (SparkSession.builder
         .master('local[*]')
         .appName("Iniciando com Spark")
         .getOrCreate()    
        )

In [6]:
spark

In [7]:
spark = (SparkSession.builder
         .master('local[*]')
         .appName("Iniciando com Spark")
         .config('spark.ui.port', '4050')
         .getOrCreate()    
        )

In [8]:
!wget -q https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok

In [9]:
get_ipython().system_raw('./ngrok authtoken 254WBMksot5DG6U7eUPV40u9NO9_7Q5YgfApAgwsd6bdZ8GHy')
get_ipython().system_raw('./ngrok http 4050 &')

In [10]:
!curl -s http://localhost:4040/api/tunnels

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Error 404 Not Found</title>
</head>
<body><h2>HTTP ERROR 404 Not Found</h2>
<table>
<tr><th>URI:</th><td>/api/tunnels</td></tr>
<tr><th>STATUS:</th><td>404</td></tr>
<tr><th>MESSAGE:</th><td>Not Found</td></tr>
<tr><th>SERVLET:</th><td>org.glassfish.jersey.servlet.ServletContainer-3b76be5a</td></tr>
</table>
<hr><a href="https://eclipse.org/jetty">Powered by Jetty:// 9.4.40.v20210413</a><hr/>

</body>
</html>

In [11]:
spark

# **Making a DataFrame**

In [12]:
data = [('Zeca','35'), ('Eva', '29')]
colNames = ["Nome",'Idade']

In [13]:
df = spark.createDataFrame(data, colNames)
df

DataFrame[Nome: string, Idade: string]

In [14]:
df.show()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+

In [15]:
df.toPandas()

   Nome Idade
0  Zeca    35
1   Eva    29

# **Projeto**

## Carregando os dados das empresas

In [16]:
import zipfile

In [17]:
zipfile.ZipFile('/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados/empresas.zip','r').extractall('/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados')

In [18]:
path = '/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados/empresas'

In [19]:
empresas = spark.read.csv(path, sep =';',inferSchema=True)

In [20]:
empresas.count()

4585679

In [21]:
empresas.show()

+-----+--------------------+----+---+-------+---+----+
|  _c0|                 _c1| _c2|_c3|    _c4|_c5| _c6|
+-----+--------------------+----+---+-------+---+----+
|  306|FRANCAMAR REFRIGE...|2240| 49|   0,00|  1|null|
| 1355|BRASILEIRO & OLIV...|2062| 49|   0,00|  5|null|
| 4820|REGISTRO DE IMOVE...|3034| 32|   0,00|  5|null|
| 5347|ROSELY APARECIDA ...|2135| 50|   0,00|  5|null|
| 6846|BADU E FILHOS TEC...|2062| 49|4000,00|  1|null|
| 8416|  ELETRICA RUBI LTDA|2062| 49|   0,00|  5|null|
| 8992|SHIROMA VEICULOS ...|2062| 49|   0,00|  5|null|
| 9091|CONTATOS BAR E LA...|2062| 49|   0,00|  5|null|
| 9614|ANTONIA APARECIDA...|2135| 50|   0,00|  5|null|
| 9896|DORACY CORAT DA C...|2135| 50|   0,00|  5|null|
|12112|LANCHONETE RIO VE...|2062| 49|   0,00|  5|null|
|12605|VALMAR JACAREI CO...|2062| 49|   0,00|  5|null|
|13407|ROSANA CRISTINA D...|2135| 50|   0,00|  5|null|
|13408|CELIO RODRIGUES D...|2135| 50|   0,00|  5|null|
|13721|MAQFRAN COMERCIO ...|2062| 49|   0,00|  1|null|
|21181|MOURA & SILVA MER...|2062| 49|   0,00|  5|null|
|21858|PAMARATI COMERCIO...|2135| 50|   0,00|  1|null|
|22277|INACIO RODRIGUES ...|2135| 50|   0,00|  5|null|
|24205|SUELY LEME MARI A...|2135| 50|1000,00|  1|null|
|26805|SUELI BATISTA DA ...|2135| 50|   0,00|  5|null|
+-----+--------------------+----+---+-------+---+----+
only showing top 20 rows

## Sócios

In [22]:
zipfile.ZipFile('/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados/socios.zip').extractall('/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados')

In [23]:
path_socios = "/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados/socios/part-0000*" 
#* O caractere *, neste caso, está indicando que queremos ler todos os arquivos que tenham como início de seu nome “EMPRESA.SP”. Quaisquer caracteres que vierem após isso são válidos.

In [24]:
socios = spark.read.csv(path_socios,sep =';',inferSchema=True)

In [25]:
socios.count()

2046430

In [26]:
socios.show()

+-----+---+--------------------+-----------+---+--------+----+-----------+----+---+----+
|  _c0|_c1|                 _c2|        _c3|_c4|     _c5| _c6|        _c7| _c8|_c9|_c10|
+-----+---+--------------------+-----------+---+--------+----+-----------+----+---+----+
|  411|  2|LILIANA PATRICIA ...|***678188**| 22|19940725|null|***000000**|null|  0|   7|
|  411|  2|CRISTINA HUNDERTMARK|***637848**| 28|19940725|null|***000000**|null|  0|   7|
| 5813|  2|CELSO EDUARDO DE ...|***786068**| 49|19940516|null|***000000**|null|  0|   8|
| 5813|  2|EDUARDO BERRINGER...|***442348**| 49|19940516|null|***000000**|null|  0|   5|
|14798|  2| HANNE MAHFOUD FADEL|***760388**| 49|19940609|null|***000000**|null|  0|   8|
|14798|  2|    CLOD ASSAD FADEL|***205668**| 22|19940609|null|***000000**|null|  0|   6|
|17826|  2|   WALKYRIA ALGARVES|***689078**| 49|19970227|null|***000000**|null|  0|   7|
|17826|  2|SEBASTIAO JADIR T...|***904728**| 49|20090813|null|***000000**|null|  0|   5|
|19491|  2|     JOSE JOAO ADAMO|***235698**| 49|19940615|null|***000000**|null|  0|   7|
|19491|  2|ROSEMARY CANTUARI...|***959818**| 49|19940615|null|***000000**|null|  0|   6|
|27848|  2|MARCOS AURELIO MOTTA|***262857**| 49|19940718|null|***000000**|null|  0|   7|
|27848|  2|EDVAN CANDIDO ALE...|***460998**| 22|19940718|null|***000000**|null|  0|   5|
|35232|  2|  JAIME MOURE COLINO|***565078**| 49|19941020|null|***000000**|null|  0|   6|
|35232|  2|SANDRA APARECIDA ...|***120938**| 49|19960628|null|***000000**|null|  0|   6|
|35232|  2|LEIDA MARQUES PER...|***395928**| 49|19960628|null|***000000**|null|  0|   6|
|56221|  2|DONZILIA FERREIRA...|***904307**| 49|19940427|null|***000000**|null|  0|   8|
|56221|  2|ISRAEL AMERICANO ...|***571606**| 22|19940424|null|***000000**|null|  0|   5|
|82946|  2|VALERIA RIBEIRO T...|***438401**| 22|19940601|null|***000000**|null|  0|   6|
|82946|  2|CARLOS RAFAEL DO ...|***701279**| 49|20090922|null|***000000**|null|  0|   5|
|85894|  2|IVAN MARQUEZ DE M...|***342771**| 49|19820608|null|***000000**|null|  0|   7|
+-----+---+--------------------+-----------+---+--------+----+-----------+----+---+----+
only showing top 20 rows

## Estabelecimentos

In [27]:
zipfile.ZipFile('/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados/estabelecimentos.zip').extractall('/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados')

In [28]:
path_estabelecimentos = '/content/drive/MyDrive/Cursos/pyspark/Aulas_de_spark/dados/estabelecimentos'

In [29]:
estabelecimentos  = spark.read.csv(path_estabelecimentos, sep=';',inferSchema=True)

In [30]:
estabelecimentos.count()

4836219

In [31]:
estabelecimentos.show()

+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+------+-------------------+------------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
|  _c0|_c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|   _c13|                _c14|  _c15|               _c16|              _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|                _c27|_c28|_c29|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+------+-------------------+------------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
| 1879|  1| 96|  1|      PIRAMIDE M. C.|  8|20011029|  1|null|null|19940509|1412602|                null|    RUA|     JOSE FIGLIOLINI|   608|               null|         VILA NILO| 2278020|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
| 2818|  1| 43|  1|                null|  8|20081231| 71|null|null|19940512|4671100|                null|    RUA|              BAQUIA|   416|               null|VL NOVA MANCHESTER| 3443000|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
| 3110|  1|  7|  1|                null|  8|19971231|  1|null|null|19940512|4789007|                null|    RUA|     LEOCADIA CINTRA|   180|            CONJ 83|             MOOCA| 3112040|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
| 3733|  1| 80|  1|                null|  8|20081231| 71|null|null|19940513|7490101|                null|    RUA|        AFONSO CELSO|  1102|             CASA 1|      VILA MARIANA| 4119061|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
| 4628|  3| 27|  2|   EMBROIDERY & GIFT|  8|19980429|  1|null|null|19950509|4755501|                null|    RUA|DOUTOR GABRIEL NI...|   177|               null|       RUDGE RAMOS| 9632040|  SP|7075|null|    null|null|    null|null|    null|                null|null|null|
| 4628|  4|  8|  2|                null|  8|20040719|  1|null|null|19990715|4755502|                null|AVENIDA|   SENADOR VERGUEIRO|  4556|               null|       RUDGE RAMOS| 9750900|  SP|7075|null|    null|null|    null|null|    null|                null|null|null|
| 4628|  2| 46|  2|   EMBROIDERY & GIFT|  8|19960802|  1|null|null|19950406|4755501|                null|AVENIDA|             KENNEDY|   700|P2PULMANN QUIO P67L|    JD TRES MARIAS| 9725000|  SP|7075|null|    null|null|    null|null|    null|                null|null|null|
| 4628|  1| 65|  1|                null|  2|20051103|  0|null|null|19940516|4930202|7739099,4930201,5...|    RUA|  TIETE (VL VIVALDI)|   189|               null|       RUDGE RAMOS| 9615000|  SP|7075|  11|43625402|  11|43622689|  11|43625402|SHIRLEY_LUPOS@HOT...|null|null|
|10804|  1| 71|  1|              KOLVOX|  8|20170613|  1|null|null|19940530|1412601|             1412603|AVENIDA|          NORDESTINA|   917|           SALA  02|    VILA AMERICANA| 8021000|  SP|7107|  11|20580186|null|    null|null|    null|NCCONTABILIDADE@T...|null|null|
|11448|  1|  0|  1|              PROLAV|  8|20081231| 71|null|null|19940530|4649408|                null|    RUA|          PITAGUARAS|    05|               null|           POMPEIA| 5027100|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
|13566|  1| 58|  1|                null|  8|20000914|  1|null|null|19940607|4120400|             4299501|    RUA|       CAETANO NIGRO|   480|               null|       VL HARMONIA|14802450|  SP|6163|null|    null|null|    null|null|    null|                null|null|null|
|15324|  1|  1|  1|MINI SACOLAO VILA...|  8|20080214| 54|null|null|19940610|4729699|                null|    RUA|      JAN DE CAPELLI|   238|                240|        PQ BRISTOL| 4193070|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
|17853|  1| 36|  1|J Z B COMERCIO DE...|  8|20071003| 54|null|null|19940615|2051700|             2052500|ESTRADA|MUNIC.ALTAIR A GU...|    SN|              KM 04|        ZONA RURAL|15430000|  SP|6117|null|    null|null|    null|null|    null|                null|null|null|
|18103|  1| 89|  1|                null|  8|20081231| 71|null|null|19940616|4723700|                null|AVENIDA|    FREDERICO OZANAN|   946|               null|      VILA SAMPAIO|17205000|  SP|6607|null|    null|null|    null|null|    null|                null|null|null|
|22504|  1|  2|  1|                null|  8|20151119|  1|null|null|19940627|4761003|4761001,4761002,4...|    RUA|          SANTA CRUZ|   595|               null|            CENTRO|13560680|  SP|7079| 016| 2706821|null|    null|  16| 2706821|                null|null|null|
|23494|  1| 20|  1|                LEGO|  8|20150209| 73|null|null|19940629|1412601|             1412603|    RUA|  CEL EMIDIO PIEDADE|   154|               null|              PARI| 3018010|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
|23494|  2|  0|  2|                null|  8|20150209| 73|null|null|20041201|4642701|                null|  PRACA|       JULIO PRESTES|29/137|           LOJA P19|    CAMPOS ELISEOS| 1218020|  SP|7107|null|    null|null|    null|null|    null|                null|null|null|
|24117|  1|  5|  1|                null|  8|19850705|  2|null|null|19680725|8888888|                null|AVENIDA|   ALMIRANTE BARROSO|    63|     SALA 308 PARTE|            CENTRO|20031003|  RJ|6001|null|    null|null|    null|null|    null|                null|null|null|
|24242|  1| 15|  1|                null|  8|20081231| 71|null|null|19940630|4722901|                null|AVENIDA|        BANDEIRANTES|  3928|               null| BRIGADEIRO TOBIAS|18108000|  SP|7145|null|    null|null|    null|null|    null|                null|null|null|
|24323|  1| 15|  1|          POSTO XARA|  8|20081231| 71|null|null|19820114|4731800|             4732600|RODOVIA|              BR 050|   S/N|             KM 214|        ZONA RURAL|75795000|  GO|9295|null|    null|null|    null|null|    null|                null|null|null|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+------+-------------------+------------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
only showing top 20 rows

# **Manipulando os dados**

## Operações básicas

In [32]:
empresas.limit(5).toPandas()

    _c0                                                _c1  ...  _c5   _c6
0   306            FRANCAMAR REFRIGERACAO TECNICA S/C LTDA  ...    1  None
1  1355                         BRASILEIRO & OLIVEIRA LTDA  ...    5  None
2  4820  REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...  ...    5  None
3  5347       ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS  ...    5  None
4  6846                         BADU E FILHOS TECIDOS LTDA  ...    1  None

[5 rows x 7 columns]

## Renomeando colunas

In [33]:
empresasColNames = ['cnpj_basico','razao_social_nome_empresarial','naureza_juridica','qualificacao_do responsavel',
                    'capital_social_da_empresa','porte_da_empresa','ente_federativo_responsavel']

In [34]:
for index, colName in enumerate(empresasColNames):
  empresas = empresas.withColumnRenamed(f"_c{index}", colName)
empresas.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'naureza_juridica',
 'qualificacao_do responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [35]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 
                  'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 
                  'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 
                  'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [36]:
for index, colName in enumerate(estabsColNames):
  
  estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", colName)
estabelecimentos.columns

['cnpj_basico',
 'cnpj_ordem',
 'cnpj_dv',
 'identificador_matriz_filial',
 'nome_fantasia',
 'situacao_cadastral',
 'data_situacao_cadastral',
 'motivo_situacao_cadastral',
 'nome_da_cidade_no_exterior',
 'pais',
 'data_de_inicio_atividade',
 'cnae_fiscal_principal',
 'cnae_fiscal_secundaria',
 'tipo_de_logradouro',
 'logradouro',
 'numero',
 'complemento',
 'bairro',
 'cep',
 'uf',
 'municipio',
 'ddd_1',
 'telefone_1',
 'ddd_2',
 'telefone_2',
 'ddd_do_fax',
 'fax',
 'correio_eletronico',
 'situacao_especial',
 'data_da_situacao_especial']

In [37]:
for index, colName in enumerate(sociosColNames):
  
  socios = socios.withColumnRenamed(f"_c{index}", colName)
socios.columns

['cnpj_basico',
 'identificador_de_socio',
 'nome_do_socio_ou_razao_social',
 'cnpj_ou_cpf_do_socio',
 'qualificacao_do_socio',
 'data_de_entrada_sociedade',
 'pais',
 'representante_legal',
 'nome_do_representante',
 'qualificacao_do_representante_legal',
 'faixa_etaria']

## Analisando os dados

In [38]:
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [39]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- naureza_juridica: integer (nullable = true)
 |-- qualificacao_do responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [40]:
socios.limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

In [41]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [42]:
estabelecimentos.limit(5).toPandas()

   cnpj_basico  cnpj_ordem  ...  situacao_especial  data_da_situacao_especial
0         1879           1  ...               None                        NaN
1         2818           1  ...               None                        NaN
2         3110           1  ...               None                        NaN
3         3733           1  ...               None                        NaN
4         4628           3  ...               None                        NaN

[5 rows x 30 columns]

In [45]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

# Modificando os tipos de dados

## Convertendo string para Double type

In [47]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as F

In [48]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- naureza_juridica: integer (nullable = true)
 |-- qualificacao_do responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [52]:
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [53]:
empresas = empresas.withColumn('capital_social_da_empresa', F.regexp_replace('capital_social_da_empresa',',','.'))
#quando for substituir o ponto deve se usar uma barra invertida antes '\.'
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [54]:
empresas.printSchema() #capital social continua como string mesmo depois de substituir a vírgula pelo ponto

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- naureza_juridica: integer (nullable = true)
 |-- qualificacao_do responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [61]:
empresas = empresas.withColumn('capital_social_da_empresa',empresas['capital_social_da_empresa'].cast(DoubleType()))
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [62]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- naureza_juridica: integer (nullable = true)
 |-- qualificacao_do responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)